@import "~@fortawesome/fontawesome-free/css/all.css";
.card {
  border: 1px solid grey;
  padding: 20px;
  border-radius: 4px;
  width: 200px;
  height: 500px;
  overflow: hidden;
  box-shadow: 2px 2px blue;
  img{
    cursor:pointer;
  }
  .cardTitle {
    font-size: 16px;
    font-weight: 800;
  }
  .cardBody {
    font-size: 12px;
    word-break: break-word;
    overflow: hidden;
    max-height: 100px;
  }
  .cardName{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
  }
  .fa-edit {
    color: #0000ff;
    font-size: 20px;
    cursor: pointer;
  }
  .fa-trash {
    color: #ff0000;
    font-size: 20px;
    cursor: pointer;
  }
}
