.card{
    border: 1px solid grey;
    padding: 10px;
    border-radius: 4px;
    width:200px;
    margin: 4px 0;
    .cardTitle{
        font-size: 16px;
        font-weight: 800;
    }
    .cardBody{
        font-size: 12px;
    }
}