<div class="ads">
    <div class="header">
    <img src="./../../../assets/logo.png">    
<p >Tangy Tingle Pickles</p>
</div>
<p class="description">Also, below snacks available ONLY for onshore (Outside India) delivery *</p>
<div class="items">
<ul>
    <li>Murukulu</li>
    <li>Pappu Chakkalu</li>  
<li>Pabbillalu</li>
<li>Miriyala Pabbillalu</li>
<li>Urad Murukulu</li>

</ul>
<ul>
<li>Mixed Mixture</li>
<li>Kaara Boondi</li>  
<li>Chakkilalu</li>
<li>Nuvvulu Undalu(Sweet)</li>
<li>Chennikaya Vundalu(Chiku - Sweet)</li>

</ul>
</div>

<p class="description footer">* You may mix Pickles and Snacks to get 2kg weight</p>

</div>