.header{
    font-size: 40px;
    display: flex;
    gap:10px;
    align-items: center;
}
.description{
    font-size: 20px;
}
ul{
    list-style: none;
    li{
        font-size: 20px;
        padding: 5px;
    }
}

.items{
    display: flex;
    justify-self: space-between;
}

.ads{
    padding: 20px;
    background-color: #F0DE78;
    height: 100vh;
    width: 100%;
}

.footer{
    text-align: center;
}