.results{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:10px
}

.main{
    display: flex;
    gap:10px;
}

.viewBtn{
    display: flex;
    margin-top: 10px;
    justify-content: end;
    margin-right: 20px;
    button{
        background-color: white;
        color: blue;
        font-size: 14px;
        border: none;
        padding: 10px;
        cursor: pointer;
        border:1px solid blue;
    }

    .active{
        background-color: blue;
        color: white;
        
    }
}