<app-header></app-header>
<div class="main">
<app-navbar [navItems]="categories" ></app-navbar>
<div class="dashboard">
  <div class="search"> 
<app-searchbar (searchEvent)="onSearch($event)"></app-searchbar>
<div class="viewBtn">
<button [ngClass]= "view==='cards' ? 'active': ''" (click)="setView('cards')">Cards</button>
<button [ngClass]= "view==='table' ? 'active': ''" (click)="setView('table')">Table</button>
</div>
</div> 

<div  class="results" *ngIf="view==='cards'; then cards else table">

</div>
<ng-template #cards>
    <div class="results">
<app-card  *ngFor="let item of filteredProducts" [cardTitle]="item.title" [cardBody]="item.description" [cardImg]="item.image" [cardId]="item.id" (editEmitter)="editCard($event)" (cardEmitter)="clickCard($event)"  (deleteEmitter)="deleteCard($event)" ></app-card>
</div>
</ng-template>

<ng-template #table>
 <app-table [tableData]="tableData" [tableHeaders]="tableHeaders" [tableWidth]="tableWidth"></app-table>
</ng-template>
</div>

</div>
<app-popup  *ngIf = "showDeletePopup" [header] = "deletePopupHeader" [desc] = "deletepopupDesc" [id]="selectedProduct.id"  (applyEmitter)="applyCard($event)"  (cancelEmitter)="cancelCard($event)"></app-popup>

